#products > p {
  color: olivedrab;
  font-size: 25px;
} /*=>Relational Selector */
a[target="_blank"][href*=".com"] {
  color: brown;
}
#para {
  background-color: aquamarine;
  width: 30%;
}
.highlight {
  background-color: bisque;
}
